// 아라 테마색
$theme-red: #ED3A3A;
$theme-red-dark: rgb(204, 59, 59);
$dark: #222222;
$gray: #555555;

:root {
  // global theme variables
  --theme-red: #ED3A3A;
  --duration: 0.5s;
  --text-timing: ease-out;
  --background-timing: ease-in-out;

  // light mode variables
  --background: white;
  --text: #222222;


  &, body, h1, h2, h3, h4, h5, h6, a, input, textarea, button {
    color: var(--text);
    background-color: var(--background);

    transition: color var(--duration) var(--text-timing),
                background-color var(--duration) var(--background-timing);
  }

  .navbar, .navbar-item {
    background-color: transparent;
  }

  input::placeholder {
    color: #4a4a4a;
    transition: color var(--duration) var(--text-timing);
  }

  button:hover {
    color: var(--text);
    background-color: unset;
  }
}

:root.dark {
  // @TODO #222 is better than complete black;
  --background: black;
  --text: #d0d0d0;
}

$min-desktop-width: 1088px;
$mid-desktop-width: 1280px;
$max-desktop-width: 1472px;

@mixin breakPoint($breakpoint) {
  @if $breakpoint == "min" {
    @media (max-width: #{$min-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "min-mid" {
    @media (min-width: #{$min-desktop-width}) and (max-width: #{$mid-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "mid-max" {
    @media (min-width: #{$mid-desktop-width}) and (max-width: #{$max-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "max" {
    @media (min-width: #{$max-desktop-width}) {
    @content;
    }
  }
}

// 로고에 사용되는 Raleway EB 폰트
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
