@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

$theme-red: #e15858;
$theme-red-dark: rgb(204, 59, 59);
$dark: #333333;
$gray: #666666;

:root {
  // global theme variables
  --theme-400: #e15858;
  --theme-300: #f9c7c7;
  --theme-100: #fdf0f0;

  --grey-700: #333333;
  --grey-600: #666666;
  --grey-400: #a9a9a9;
  --grey-300: #dbdbdb;
  --grey-100: #fafafa;

  --text: var(--grey-700);
  --background: var(--grey-100);

  --duration: 0.5s;
  --text-timing: ease-out;
  --background-timing: ease-in-out;

  .navbar, .navbar-item {
    background-color: transparent;
  }
}

$min-desktop-width: 1088px;
$mid-desktop-width: 1280px;
$max-desktop-width: 1472px;

@mixin breakPoint($breakpoint) {
  @if $breakpoint == "min" {
    @media (max-width: #{$min-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "min-mid" {
    @media (min-width: #{$min-desktop-width}) and (max-width: #{$mid-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "mid-max" {
    @media (min-width: #{$mid-desktop-width}) and (max-width: #{$max-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "max" {
    @media (min-width: #{$max-desktop-width}) {
    @content;
    }
  }
}

// 로고에 사용되는 Raleway EB 폰트
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
